---
import cv from '@/cv.json';

const { work } = cv;
---

<section class='mt-12'>
  <h2 class='text-2xl font-bold'>Experiencia</h2>

  <ul class='mt-3'>
    {
      work.map(({ name, address, position, startDate, endDate, summary }) => (
        <li class='mt-5'>
          <div class='flex items-center justify-between mb-1'>
            <div class='flex flex-col mb-2'>
              {name ? <p class='font-bold text-[#000]'>{name}</p> : null}
              {address ? <p class='font-bold text-[#000]'>{address}</p> : null}
              {position ? (
                <p class='font-bold text-[#000]'>{position}</p>
              ) : null}
            </div>
            <p>
              {startDate} / {endDate}
            </p>
          </div>
          <p>{summary}</p>
        </li>
      ))
    }
  </ul>
</section>
