---
import cv from '@/cv.json';

const { work } = cv;
---

<section class='mt-12'>
  <h2 class='text-2xl font-bold dark:text-light'>Experiencia</h2>

  <ul class='mt-3'>
    {
      work.map(({ name, address, position, startDate, endDate, summary }) => (
        <li class='mt-5'>
          <div class='flex items-center justify-between gap-6 mb-1'>
            <div class='flex flex-col mb-2'>
              {name ? (
                <p class='font-bold text-[#000] dark:text-light'>{name}</p>
              ) : null}
              {address ? (
                <p class='font-bold text-[#000] dark:text-light'>{address}</p>
              ) : null}
              {position ? (
                <p class='font-bold text-[#000] dark:text-light'>{position}</p>
              ) : null}
            </div>
            {startDate && endDate ? (
              <p>
                {startDate} / {endDate}
              </p>
            ) : null}
          </div>
          <p>{summary}</p>
        </li>
      ))
    }
  </ul>
</section>
